name: e2e-test

on:
  pull_request:
    paths:
      - .github/workflows/e2e-test.yaml
      - e2e_test/**
      - '**.go'
      - go.*
  push:
    branches:
      - main
    paths:
      - .github/workflows/e2e-test.yaml
      - e2e_test/**
      - '**.go'
      - go.*

jobs:
  kind:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: go build .
      - run: kind create cluster
      - run: kubectl apply -f e2e_test
      - run: ./cronjob-runner --cronjob-name simple
      - run: ./cronjob-runner --cronjob-name multiple-containers
      - run: ./cronjob-runner --cronjob-name conditional --env SHOULD_BE_TRUE=true
      - run: ./cronjob-runner --cronjob-name conditional --secret-env SHOULD_BE_TRUE
        env:
          SHOULD_BE_TRUE: true
      - run: |
          set +e
          set -x
          ./cronjob-runner --cronjob-name conditional --env SHOULD_BE_TRUE=false
          test $? -eq 1
